<div class="container w-100">

    <div class="row w-100 mt-5">
      <div class="col-md-12">
        <h1 class="text-monospace text-center"> Sejam bem vindes ao blog do Fuscão! </h1>
      </div>
    </div>
  
    <div class="row w-100 mt-4 mb-4">
      <div class="col-md-12">
        <p class="text-justify text-monospace">
          O Fusca se tornou um clássico no Brasil. Não só por ele ter tido produção aqui em 1959, mas também por ainda ter valor para muitas pessoas, por alguns terem passado de geração para geração, e também por serem únicos em sua durabilidade e história. Só quem teve ou tem um carro desse sabe o amor e orgulho que carregamos no peito.
        </p>
      </div>
    </div>
  </div>
  
    <div class="parallax"></div>
  
    <div class="row w-100 mt-5 mb-5">
      <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
      </div>
    </div>